:root {
  --blue: #1e90ff;
  --offblack: rgb(25, 25, 25);
  --offwhite: rgb(243, 236, 236);
  --lightgray: #f7f7f7;
  --darkergray: #cacaca;
  --maroon: #872822;
  --ketchup: #fe400f;
}

* {
  box-sizing: border-box;
}

body {
  /* background-color: var(--offwhite); */
  color: var(--maroon);
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--maroon);
  text-decoration: none;
}

.btn {
  border: none;
  outline: none;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 500; /* Medium */
  padding: 4px 16px;
}

.pointer {
  cursor: pointer;
}

h1 {
  font-size: 28px;
  font-weight: 600; /* Semi-bold */
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700; /* Bold */
}

p {
  font-size: 16px;
  font-weight: 400; /* Regular */
}

section {
  padding: 24px;
}
/* Flexbox ------------------------------ */
.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}
/* -------------------------------------- */

/* Grid ----------------------------------*/
.grid {
  display: grid;
}
/* -------------------------------------- */

/* Header/Hero --------------------------------- */
header {
  align-items: center;
  justify-content: space-between;
  background-color: var(--lightgray); /* Background fallback? */
  /* background-image: url("images/hero-03.png"); 
  background-position: center;
  background-repeat: no-repeat; */
  height: 925px;
  padding: 24px;
}

.top-items {
  align-items: center;
  width: 100%;
}

nav.flex {
  justify-content: space-between;
  width: 100%;
}

.hero h2 {
  margin-bottom: 0;
}

.hero .card {
  padding: 0 76px 240px 0;
}

.hero .card p {
  margin: 8px 0 24px 0;
}

.hero .btn {
  background-color: var(--ketchup);
  line-height: 21px;
  letter-spacing: 0em;
}

/* -------------------------------------- */

/* Campaign image ----------------------------- */
.campaign-img {
  /* background-image: url("images/campaign-03.png");
  background-position: top;
  background-repeat: no-repeat; */
  background-color: var(--lightgray);
  width: 100%;
  height: 925px;
}
/* -------------------------------------- */

/* Campaign ----------------------------- */
.campaign > h2 {
  font-size: 20px;
  font-weight: 600; /* Semi-bold */
  margin: 75px 0 5px 0;
}

input[name="email"],
label {
  font-size: 14px;
  font-weight: 400; /* Semi-bold */
}

input[name="email"] {
  border: 1px solid var(--offblack);
  padding: 0 10px;
  width: 215px;
  height: 34px;
}

::placeholder {
  color: var(--darkergray);
}

.campaign > p {
  margin: 0 0 24px 0;
}

.campaign .btn,
.competition .btn {
  display: inline-block;
  background-color: var(--maroon);
  width: fit-content;
  /* width: 126px;
  height: 36px; */
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 4px;
}
/* -------------------------------------- */

/* Products ------------------------------ */
.products-container {
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
}

.img-container {
  background-color: var(--lightgray);
  width: 100%;
  height: 100%;
}

/* .product:nth-child(1) > .img-container,
.product:nth-child(4) > .img-container {
  background-image: url("images/jacket_preview_black_v1_s.png");
  background-position: center;
  background-repeat: no-repeat;
} */

/* .product:nth-child(2) > .img-container,
.product:nth-child(3) > .img-container {
  background-image: url("images/jacket_preview_green_v1_s.png");
  background-position: center;
  background-repeat: no-repeat;
} */

.product-info {
  justify-content: space-between;
  position: relative;
  bottom: 16px;
}

.product {
  width: calc(50% - 8px);
  height: 280px;
}

.btn.more {
  background-color: transparent;
  color: var(--maroon);
  border: 1px solid var(--maroon);
  line-height: 21px;
  letter-spacing: 0em;
}
/* -------------------------------------- */

/* Footer ----------------------------- */
footer {
  background-color: var(--lightgray);
  padding: 60px 24px;
}

footer > h2 {
  font-size: 28px;
  font-weight: 600; /* Semi-bold */
}

footer h3 {
  font-size: 16px;
  font-weight: 600; /* Semi-bold */
  margin-block-start: 0;
  margin-block-end: 0;
}

footer > .grid {
  /* grid-template-columns: repeat(auto-fit, minmax(165px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

/* Footer: Language menu ----------------------------- */
.language {
  position: relative;
}

.language-button {
  all: unset;
  background-color: transparent;
  width: fit-content;
  position: relative;
  margin: 14px 0 38px 0;
  user-select: none;
}

.language-button > img {
  position: absolute;
  bottom: -2px;
  right: -30px;
  transition: all 200ms ease-out;
}

.language-menu {
  list-style-type: none;
  display: none;
  position: absolute;
  bottom: -3px;
  left: 76px;
  padding: 0;
}

.language.show-menu > .language-menu {
  display: inline-block;
}

.language.show-menu > .language-button > img {
  transform: rotate(-90deg);
}

.language-menu > li {
  padding: 2px;
  transition: all 100ms ease-out;
}

.language-menu > li.selected {
  background-color: var(--maroon);
  color: white;
}
/* -------------------------------------- */
/* Once upon ----------------------------- */
.once-upon-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 24px 0px;
  gap: 12px;
}

.once-upon-text {
  width: calc(44% - 12px);
  margin-left: 24px;
}

.once-upon-text h2 {
  margin: unset;
  width: 75%;
}

.once-upon-img-container {
  position: relative;
  width: 56%;
  height: 290px;
  background-color: var(--lightgray);
  z-index: 1;
  /* background-image: url("images/solcell_preview1_s.png"); */
  background-position: center;
  background-repeat: no-repeat;
}

.once-upon-img-top {
  position: absolute;
  z-index: 2;
  width: 162px;
  height: 162px;
  background-color: var(--darkergray);
  bottom: -14%;
  right: 60%;
}
/* -------------------------------------- */
