:root {
  --blue: #1e90ff;
  --offblack: rgb(25, 25, 25);
  --offwhite: rgb(243, 236, 236);
  --lightgray: #f7f7f7;
  --darkergray: #cacaca;
  --maroon: #872822;
  --ketchup-dark: #c13409;
  --ketchup: #fe400f;
  --white: #fff;
}

@keyframes append {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes dropDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes close {
  0% {
    transform: scaleY(1);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(0);
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--maroon);
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--maroon);
  text-decoration: none;
}

/* Set-up for change img on hover for product images */
img.secondary {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 250ms ease-in-out;
}

img.primary {
  transition: opacity 250ms ease-in-out;
}

.products .img-container {
  position: relative;
  cursor: pointer;
}

.img-container:hover > img.primary {
  opacity: 0;
}

.img-container:hover > img.secondary {
  opacity: 1;
}
/*--------------------------*/

.btn {
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: 500; /* Medium */
  padding: 7px 16px;
  transition: all 500ms ease-in-out;
}

.pointer {
  cursor: pointer;
}

h1 {
  font-size: 28px;
  font-weight: 600; /* Semi-bold */
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700; /* Bold */
}

p {
  font-size: 16px;
  font-weight: 400; /* Regular */
}

section {
  padding: 24px;
}
/* Flexbox ------------------------------ */
.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}
/* -------------------------------------- */

/* Grid ----------------------------------*/
.grid {
  display: grid;
}
/* -------------------------------------- */

/* Header/Hero --------------------------------- */
header {
  align-items: center;
  justify-content: space-between;
  background-color: var(--lightgray); /* Background fallback? */
  height: 925px; /* 
  padding: 0 24px 24px 24px; */
  background-image: url("images/m-watchonstone.jpg");
  background-repeat: no-repeat;
  background-position: 70% 50%;
}

.top-items {
  align-items: center;
  width: 100%;
  background-color: var(--lightgray);
}

nav.flex {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 6px;
}

.hero h2 {
  margin-bottom: 0;
}

.hero .card {
  padding: 0px 76px 370px 24px;
  z-index: 0;
  position: absolute;
  top: 28%;
}

.hero .card p {
  margin: 8px 0 24px 0;
}

.hero .btn {
  background-color: var(--ketchup);
  line-height: 21px;
  letter-spacing: 0em;
  padding: 8px 16px 8px 16px;
}

.protech-typo-logo {
  width: 110px;
  height: 28px;
  margin-bottom: 2px;
  margin-left: 0px;
}
/*--------------------------------------------*/
/*Drop menu nav-------------------------------*/
.drop-menu {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 20%;
  background-color: var(--lightgray);
  padding: 0px 14px 24px;
  z-index: 1;
}

.drop-menu > div {
  width: 30%;
}

header > div.top-items.flex.column > div h3 {
  margin-bottom: 4px;
}
/*----------------------------------------*/
/*SVG FILES-------------------------------*/

.hamburgerSVG:active {
  filter: invert(43%) sepia(82%) saturate(4958%) hue-rotate(353deg)
    brightness(98%) contrast(105%);
}
.shoppingSVG:active {
  filter: invert(43%) sepia(82%) saturate(4958%) hue-rotate(353deg)
    brightness(98%) contrast(105%);
}

/* -------------------------------------- */

/* Campaign image ----------------------------- */
.campaign-img {
  width: 100%;
  height: 925px;
  /* overflow-x: hidden; */
  overflow: hidden;
}

.campaign-img > img {
  height: 100%;
  width: auto;
  position: relative;
  right: 14%;
  transition: transform 0.3s ease;
  transform-origin: center center;
  transform: scale(1);
}
/* -------------------------------------- */

/* Campaign ----------------------------- */
.campaign > h2 {
  font-size: 20px;
  font-weight: 600; /* Semi-bold */
  margin: 75px 0 5px 0;
}

input[name="email"],
label {
  font-size: 14px;
  font-weight: 400; /* Semi-bold */
}

input[name="email"] {
  border: 1px solid var(--maroon);
  padding: 0 10px;
  width: 215px;
  height: 34px;
}

::placeholder {
  color: var(--darkergray);
  text-align: center;
}

.campaign > p {
  margin: 0 0 24px 0;
}

.competition.flex.column {
  margin: 24px 0px;
}

.campaign .btn,
.competition .btn {
  display: inline-block;
  width: fit-content;
  line-height: 21px;
  letter-spacing: 0em;
  margin-bottom: 24px;
  padding: 6px 16px 6px 16px;
}

.btn.send {
  /*Skicka*/
  background-color: var(--maroon);
}

.btn.send:hover,
.btn.send:active {
  background-color: var(--ketchup-dark);
}

.campaign-media {
  width: 100%;
  min-width: 240px;
  margin-top: 24px;
}

.campaign-media > img {
  width: 100%;
}

.campaign-media > video {
  width: 100%;
}

.campaign-copy {
  width: 258px;
}

#competition-email {
  margin: 6px 0px;
}

.btn.to-competition {
  background-color: var(--ketchup);
  color: var(--white);
  margin-bottom: 40px;
  padding: 8px 16px 8px 16px;
}

.btn.to-competition:hover,
.btn.to-competition:active {
  background-color: var(--ketchup-dark);
  color: var(--white);
}
/* -------------------------------------- */
/* Products ------------------------------ */
body > section.products.small.flex.column > h2 {
  margin: 54px 0px 6px;
}

body > section.products.large.flex.column > h2 {
  margin: 12px 0px 6px;
}

body > section.products.small.flex.column > button {
  margin: 10px 0px 32px;
}

body > section.products.small {
  margin: 24px 0px;
}

.products-container {
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  margin-bottom: 14px;
}

.products-container:nth-child(3) {
  margin-bottom: 24px;
}

.desktop-only {
  display: none;
}

.img-container {
  width: 100%;
  /* overflow: hidden;
  height: 220px; */
}

div.img-container > img {
  width: 100%;
}

/* .products.small.flex.column > div > div:nth-child(1) > div.img-container > img {
  width: 100%;
  /* scale: 5.4;
  position: relative;
  top: 31%;
  right: 12%; 
}

.products.small.flex.column > div > div:nth-child(2) > div.img-container > img {
  width: 100%;
  /* scale: 1.7;
  position: relative;
   top: 12%;
  right: 6%;  
} */

.product-info {
  justify-content: space-between;
}

.product-info p {
  padding: unset;
  margin: unset;
}

.product {
  width: calc(50% - 8px);
}

.btn.more {
  background-color: transparent;
  color: var(--maroon);
  border: 1px solid var(--maroon);
  line-height: 21px;
  letter-spacing: 0em;
  align-self: center;
}

.products .btn:hover {
  background-color: var(--maroon);
  color: var(--white);
}
/* -------------------------------------- */

/* Footer ----------------------------- */
footer {
  background-color: var(--lightgray);
  padding: 28px 24px 56px;
  flex-direction: column;
  margin-top: 72px;
}

footer > h2 {
  font-size: 28px;
  font-weight: 600; /* Semi-bold */
}

footer h3 {
  font-size: 16px;
  font-weight: 600; /* Semi-bold */
  margin-block-start: 0;
  margin-block-end: 0;
}

footer > .grid {
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

footer .protech-icon {
  width: 155px;
  margin-bottom: 36px;
}

/* Footer: Language menu ----------------------------- */
.language {
  position: relative;
}

.language-button {
  all: unset;
  background-color: transparent;
  width: fit-content;
  position: relative;
  margin: 14px 0 38px 0;
  user-select: none;
}

.language-button > img {
  position: absolute;
  bottom: -2px;
  right: -30px;
  transition: all 200ms ease-out;
}

.language-menu {
  list-style-type: none;
  display: none;
  position: absolute;
  bottom: -3px;
  left: 76px;
  padding: 0;
}

.language.show-menu > .language-menu {
  display: inline-block;
}

.language.show-menu > .language-button > img {
  transform: rotate(-90deg);
}

.language-menu > li {
  padding: 2px;
  transition: all 100ms ease-out;
}

.language-menu > li.selected {
  background-color: var(--maroon);
  color: white;
}
/* -------------------------------------- */
/* Once upon ----------------------------- */
.once-upon-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 46px;
  margin-bottom: 120px;
  padding: 24px 0px;
  gap: 12px;
  position: relative;
}

.once-upon-text {
  width: calc(44% - 12px);
  margin-left: 24px;
  position: relative;
}

.once-upon-text h2 {
  margin: unset;
  margin-right: 12px;
}

.once-upon-img-container {
  width: 56%;
  height: 279px;
  background-color: var(--blue);
  z-index: 1;
  background-position: center;
  overflow: hidden;
  background-image: url(/images/winter.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
}

.once-upon-img-top {
  position: absolute;
  z-index: 2;
  width: 41vw;
  height: 41vw;
  background-color: var(--darkergray);
  top: 70%;
  left: 23%;
}

.once-upon-img-top > img {
  width: 100%;
  height: 100%;
}

.img-container-campaign img {
  width: 100%;
}

.story {
  width: 36vw;
}

div.story.flex.column > p {
  overflow-y: hidden;
  max-height: 87px;
}

.once-upon-onclick-container {
  margin-bottom: unset;
  padding-bottom: unset;
  animation: append 0.3s linear;
  transform-origin: 0% 100%;
}

section.once-upon-onclick-container > div > h2 {
  margin-bottom: 4px;
}

section.once-upon-onclick-container > div > p {
  margin-top: unset;
}
/* -------------------------------------- */

/* -----------------Media query--------------------- */
@media screen and (min-width: 450px) {
  section {
    padding: 123px 148px;
  }
  /* ---------------Hero------------------ */
  nav {
    background-color: white;
    position: fixed;
    z-index: 100;
    height: 60px;
  }

  .hamburger {
    margin-left: 24px;
  }

  .shopping-bag {
    margin-right: 24px;
  }

  .hero {
    align-items: flex-start;
    background-image: url("images/watchonstone-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 0 77%;
    background-size: 100%;
    height: 66vw;
  }

  .hero .card {
    padding: 0;
    width: 350px;
    margin-left: 148px;
    margin-bottom: 5vw;
    color: white;
    position: unset;
  }

  /* .top-items {
    position: sticky;
  } */

  .top-items a {
    position: absolute;
    left: 102px;
  }

  nav.flex {
    justify-content: flex-start;
    width: 100%;
    margin-top: unset;
  }

  .shopping-bag {
    margin-left: auto;
  }

  .protech-typo-logo {
    margin-bottom: 2px;
    margin-left: 58px;
  }
  /*--------------------------------------------*/
  /*Drop menu nav-------------------------------*/
  .drop-menu {
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1%;
    background-color: var(--white);
    padding: 0px 0px 28px 0px;
    justify-content: space-evenly;
    position: fixed;
    z-index: 100;
    top: 8%;
  }

  .drop-menu > div {
    width: 8%;
  }

  header > div.top-items.flex.column > div h3 {
    margin-bottom: 4px;
  }
  /*----------------------------------------*/
  /*SVG FILES Desktop-----------------------*/

  .hamburgerSVG:hover {
    filter: invert(43%) sepia(82%) saturate(4958%) hue-rotate(353deg)
      brightness(98%) contrast(105%);
  }

  .shoppingSVG:hover {
    filter: invert(43%) sepia(82%) saturate(4958%) hue-rotate(353deg)
      brightness(98%) contrast(105%);
  }

  /* -------------------------------------- */
  /*---------------------------------------*/
  /*Campaign-------------------------------*/
  .campaign .btn,
  .competition .btn {
    margin-bottom: unset;
  }
  .competition.flex.column {
    margin: unset;
  }

  .campaign.flex,
  .competition.flex {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .campaign > div,
  .competition > div {
    width: 390px; /*33%?*/
  }

  .campaign-media {
    margin-left: 24px;
  }
  /*---------------------------------------*/
  /*Products-------------------------------*/
  .products * {
    overflow: auto;
    position: inherit;
  }

  .desktop-only {
    display: inline-block;
  }
  .img-container {
    width: 100%;
    height: auto;
    background-color: unset;
    min-height: unset;
    position: relative;
  }

  .img-container > img.primary {
    display: block;
    background-color: transparent;
    /* position: relative; */
    scale: unset;
    top: unset;
    right: unset;
    width: 100%;
  }

  .products.small.flex.column
    > div
    > div:nth-child(1)
    > div.img-container
    > img,
  .products.small.flex.column
    > div
    > div:nth-child(2)
    > div.img-container
    > img {
    scale: unset;
    top: unset;
    right: unset;
    width: 100%;
  }

  .img-container img.secondary,
  .products.small.flex.column
    > div
    > div:nth-child(1)
    > div.img-container
    > img.secondary,
  .products.small.flex.column
    > div
    > div:nth-child(2)
    > div.img-container
    > img.secondary {
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
  }

  .products.small.flex.column
    > div
    > div:nth-child(1)
    > div.img-container:hover
    > img.secondary,
  .products.small.flex.column
    > div
    > div:nth-child(2)
    > div.img-container:hover
    > img.secondary,
  .products.small.flex.column
    > div
    > div:nth-child(1)
    > div.img-container:active
    > img.secondary,
  .products.small.flex.column
    > div
    > div:nth-child(2)
    > div.img-container:active
    > img.secondary {
    opacity: 1;
  }

  .products-container {
    justify-content: unset;
    flex-wrap: nowrap;
    gap: 24px;
    margin-bottom: unset;
  }

  .product {
    height: unset;
  }

  .products.large.flex.column > .btn.more,
  .products.small.flex.column > .btn.more {
    margin-top: 80px;
  }

  .products-container:nth-child(3) {
    margin-top: 22px;
  }

  /*--------------------------------------*/
  /*Once upon-----------------------------*/
  /* Text squares in large product display */

  .product-copy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 1vw;
    justify-content: center;
  }

  .product-copy span {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  /*---------------Once upon-----------------*/
  .once-upon-container {
    gap: 0;
  }
  .once-upon-container img {
    width: 100%;
  }

  .once-upon-img-container {
    background-color: transparent;
    width: 50%;
    height: 50vw;
    background-image: url(/images/winter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .once-upon-text {
    width: 50%;
    margin-left: unset;
    padding-left: 148px;
    padding-right: 98px;
    position: unset;
  }
  .once-upon-img-top {
    position: absolute;
    width: 33vw;
    height: 33vw;
    top: unset;
    bottom: -13vw;
    left: 23vw;
  }
  .once-upon-img-top > img {
    width: 100%;
    height: 100%;
  }
  div.story.flex.column > p {
    overflow-y: none;
    max-height: none;
  }
  /*------------------------------------------*/
  /*----------------Campaign image -----------*/
  .campaign-img {
    min-height: 925px;
    width: 100%;
    /* Parallax scrolling on desktop */
    background-image: url("/images/m-hiker-hd.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .campaign-img > img {
    width: 100%;
    position: unset;
  }
  /*------------------------------------------*/

  /*------------------Footer------------------*/
  footer {
    padding: 64px 148px;
    margin-top: 78px;
    flex-direction: row;
    justify-content: space-between;
  }
  .language {
    width: 30%;
  }

  footer > .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
    column-gap: 50px;
    width: 65%;
    margin: 20px 0px 180px 15vw;
  }
}
